@each $weight in 400, 500, 700 {
	@font-face {
		font-weight: $weight;
		font-style: normal;
		font-family: "Gotham";
		font-display: swap;
		src: url("../fonts/gotham-#{$weight}.woff2") format("woff2");
	}
}
