// https://www.htmlcsscolor.com/hex/000000
$color-black: #000000;
$color-white: #ffffff;
$color-navy-blue: #1551e5;
$color-alice-blue: #f2f6ff;
$color-midnight-express: #071435;
$color-periwinkle: #bac4e0;
$color-ship-cove: #828ead;
$color-lavender: #e2e4f0;
$color-black-russian: #050d23;
$color-solitude: #e1e5eb;
$color-brink-pink: #ff608a;
$color-rock-blue: #8f9bb3;

$transition-default: 0.3s ease-in-out;
