<div class="slider {{bemMix}}">
	<div class="slider__body">
		<ul class="slider__list">
			<li class="slider__item slider__item--active">
				<img src="./images/photo-1.jpg" alt="#" class="slider__image"></li>
			<li class="slider__item">
				<img src="./images/photo-2.jpg" alt="#" class="slider__image"></li>
			<li class="slider__item">
				<img src="./images/photo-3.jpg" alt="#" class="slider__image"></li>
			<li class="slider__item">
				<img src="./images/photo-4.jpg" alt="#" class="slider__image"></li>
			<li class="slider__item">
				<img src="./images/photo-5.jpg" alt="#" class="slider__image"></li>
		</ul>
	</div>
	<button class="slider__control slider__control--prev" type="button">
		<span class="visually-hidden">Предыдущий слайд.</span>
	</button>
	<button class="slider__control slider__control--next" type="button">
		<span class="visually-hidden">Следующий слайд.</span>
	</button>
</div>
