<div class="counter {{bemMix}}" data-counter>
	<button class="counter__button counter__button--minus" type="button">-</button>
	<input class="counter__input" type="text">
	<button class="counter__button counter__button--plus" type="button">+</button>
</div>
