<form class="input {{bemMix}}">
	<input class="input__search" type="text" placeholder="название запроса" maxlength="140">
	<button class="input__button input__button--close" type="reset">
		<span class="visually-hidden">очистить</span>
	</button>
	<button class="input__button input__button--search" type="submit">
		<span class="visually-hidden">поиск</span>
	</button>
</form>
