<a class="logo {{ bemMix }}" {{ page == 'index' ? 'aria-current="page"' : 'href="index.html"' }}>
	<span class="visually-hidden">На главную.</span>

	<img src="images/logo.svg" width="144" height="28" alt="Логотип {{ projectName }}.">
</a>
