<div class="page-header">
	<header class="page-header__container">
		{% include 'logo.twig' with { bemMix: 'page-header__logo' } %}
		<button class="button-icon button-icon--menu" type="button">Меню</button>
		{% include 'input.twig' with { bemMix: 'page-header__input' } %}
		<div class="page-header__buttons">
			<button class="page-header__button icon icon--notification" type="button">
				<span class="visually-hidden">Оповещение</span>
			</button>
			<button class="page-header__button icon icon--likes" type="button">
				<span class="visually-hidden">лайки</span>
			</button>
		</div>
		<a href="#!" class="button-icon  button-icon--basket">144 235₽</a>
		{% include 'user-info.twig' with { bemMix: 'page-header__user-info' } %}

	</header>
	{% include 'nav.twig' with { bemMix: 'page-header__nav' } %}
</div>
