.button-icon {
	position: relative;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	box-sizing: border-box;
	padding: 12px 24px;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	border: none;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		box-shadow: 0 12px 16px -7px rgba(21, 81, 229, 0.44);
		opacity: 0.5;
	}

	&::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		margin-right: 12px;
	}

	&--basket {
		width: 148px;
		margin: 0 10px 0 0;
		padding: 12px 24px;
		color: #1551e5;
		background-color: #f2f6ff;

		&::before {
			background-color: currentColor;

			@include graphic-icon("icon-basket");
		}
	}

	&--menu {
		width: 128px;
		margin-left: 9px;
		color: #f2f6ff;
		background-color: #1551e5;

		&::before {
			background-color: currentColor;

			@include graphic-icon("icon-burger");
		}
	}

	&--helper {
		width: 170px;
		height: 32px;
		margin: 0;
		padding: 8px 12px;
		font-weight: 700;
		font-size: 15px;
		color: #1551e5;
		background-color: #f2f6ff;
		border-radius: 4px;

		&::before {
			width: 16px;
			height: 16px;
			background-color: #1551e5;

			@include graphic-icon("icon-chat");
		}
	}

	&--stock {
		width: 112px;
		margin-right: 4px;
		padding: 8px 12px;
		font-weight: 700;
		font-size: 15px;
		color: #1551e5;
		background-color: transparent;

		&::before {
			width: 16px;
			height: 16px;
			background-color: #1551e5;

			@include graphic-icon("icon-percent");
		}
	}
}
