.icon {
	display: flex;
	flex-shrink: 0;
	margin: 0;
	padding: 10px 24px;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&::before {
		content: "";
		width: 32px;
		height: 32px;
		background-color: currentColor;
	}

	&--notification {
		&::before {
			@include graphic-icon("icon-notification");
		}
	}

	&--likes {
		&::before {
			@include graphic-icon("icon-likes");
		}
	}

	&--user {
		margin-right: 17px;
		padding: 10px 12px;

		&::before {
			@include graphic-icon("icon-arrow");
		}
	}
}
