.input {
	position: relative;
	width: 100%;
	height: 48px;
	margin-left: 24px;
}

.input__search {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	padding: 8px 12px 8px 16px;
	border: 1px solid #e1e5eb;
	border-radius: 8px;

	&:hover {
		border: 1px solid #828ead;
	}

	&:focus {
		border: 2px solid #1551e5;
		outline: none;
	}

	&:disabled {
		background-color: #f2f5f9;
		border: 1px solid #f0f3fc;
	}

	&:invalid {
		border: 2px solid #ff608a;

		&::placeholder {
			color: #ff608a;
		}
	}
}

.input__button {
	position: absolute;
	top: 12px;
	right: 10px;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&--close {
		right: 46px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 24px;
		background-color: currentColor;
	}

	&--close::before {
		@include graphic-icon("icon-close");
	}

	&--search::before {
		@include graphic-icon("icon-search");
	}
}
