.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 24px;
}

.nav__list {
	display: flex;
	gap: 24px;
	margin: 0;
	margin-top: -4px;
	padding: 0;
	list-style-type: none;
}

.nav__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 114%;
	text-align: center;
	color: #071435;

	&:focus,
	&:active {
		color: #1551e5;
		outline: none;
	}
}

.nav__buttons {
	display: flex;
	align-items: center;
}

.nav_link {
	font-weight: 500;
	font-size: 14px;
	line-height: 114%;
	color: #1551e5;
}
