.page-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 24px;
}

.page-header__logo {
	display: flex;
	flex-shrink: 0;
	margin-right: 15px;
}

.page-header__buttons {
	display: flex;
	align-items: center;
}

.page-header__button {
	margin: 8px 16px;
	color: $color-ship-cove;
	border-right: 1px solid $color-lavender;

	&--active {
		color: $color-navy-blue;
	}
}

.page-header__user-info {
	margin-left: 15px;
	padding: 8px 0;
}

.page-header__nav {
	display: flex;
	border-top: 1px solid $color-lavender;
	border-bottom: 1px solid $color-lavender;
}
