.user-info {
	display: flex;
	align-items: center;
}

.user-info__photo {
	border-radius: 4px;
}

.user-info__named {
	margin: 0 0 0 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 114%;
	white-space: nowrap;
}
